:root {
    --electric-blue: #00FFFF;
    --primary: var(--electric-blue);
    --text: #e4f1f1;
    --background: #060e0e;
    --secondary: #2e7f7f;
    --accent: #37c9c9;
    --background-low-opacity: #060e0e66;
    --bs-heading-color: var(--text) !important;
    --bs-dark-rgb: 0, 0, 0 !important;
  }

  .main-header{
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  .secondary-header{
    font-size: 3rem;
    margin-block: 1rem;
  }

  .projectcontent{
    padding-top: 30px;
    display:flex;
    .projectimage{
      flex-basis: 50%;
      border-radius: 15px;
      img{
        border-radius: 15px;
        max-width: 100%;
        height: auto;
        width: auto;
        overflow: hidden;
      }
    }
    p:not(.imagesource){
      flex-basis: 70%;
      padding-left: 1rem;
      padding-right: 10%;
      font-size: 1.5rem;
      &.right{
        padding-right:1rem;
        padding-left:10%;
        text-align: right;
      }
    }
  }

  .third-header {
    color: var(--text);
    cursor: pointer;
    h2::before{
      content: ">";
      display: inline-block;
      transform: rotate(0deg);
      transition: .3s ease-out;
    }
    div{
      max-height: 0px;
      transition: .3s ease-out;
      overflow: hidden;
    }
    &.display h2::before{
      content: "> ";
      display: inline-block;
      transform: rotate(90deg);
      transition: .3s ease-out;
    }

    &.display div{
      max-height: 100vh;
      transition: .3s ease-out;
    }
  }

  .divider{
    width:100%;
    height:2px;
  }
  .divider.primary{
    border-bottom: 2px dotted var(--primary);
    box-shadow: 0 0 10px var(--primary);
  }

  .divider.secondary{
    border-bottom: 2px dotted white;
    box-shadow: 0 0 20px var(--primary);
    margin-bottom: 30px;
  }

  #projects{
    padding-inline: min(8vw,100px);
    min-height:110vh;
  }

  
  /* Global Styles */
  body {
    color: var(--text);
    background-color: var(--background) !important;
    overflow: hidden;
  }
  
  nav {
    padding-top: 8px;
    height: 50px;
  }
  
  main {
    margin-top: 50px;
    width: 100%;
  }
  
  /* Header Styles */
  header {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
  }
  
  /* Navigation Item Styles */
  .navitem svg {
    mix-blend-mode: difference;
    max-height: 32px;
    fill: var(--primary);
  }
  
  /* Introduction Section Styles */
  .introduction {
    /* opacity: 0; */
    #headline {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: difference;
      width: 100%;
      height: 5rem;
  
      h1 {
        max-width: 100%;
        width: max-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 5rem;
        font-size: min(10vw, 4rem);
        mix-blend-mode: difference;
        container-name: wordspin;
      }
  
      h1:not(.h1-active) {
        animation: slideout .3s;
        margin-top: 100px;
        opacity: 0;
      }
  
      h1.h1-active {
        visibility: visible;
        animation: slidein .5s;
      }
    }
  }
  
  @keyframes slideout {
    0% {
      margin-top: 0;
      opacity: 1;
    }
  
    100% {
      margin-top: -100px;
      opacity: 0;
    }
  }
  
  @keyframes slidein {
    0% {
      margin-top: 100px;
      opacity: 0;
    }
  
    100% {
      opacity: 1;
      margin-top: 0;
    }
  }
  
  /* Blob Styles */
  .blob {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
    }
  }
  
  /* Wave Styles */
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  
    img {
      min-width: 100%;
    }
  }
  
  /* Highlight Styles */
  .highlight {
    color: var(--primary) !important;
    text-shadow: 0 3px 10px var(--primary);
  }
  
  a.highlight:hover {
    color: var(--secondary) !important;
  }
  
  /* Primary Content Styles */
  #primarycontent {
    padding-bottom: 400px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
  
  /* Carousel Styles */
  .carousel {
    margin-bottom: 4rem;
  }
  
  .carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    .imagesource {
      position: absolute;
      bottom: 0;
      right: 10px;
      color: white;
      z-index: 11;
    }
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 0%, var(--background) 100%);
      filter: opacity(0.7);
      z-index: 1;
    }
  
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 50%, var(--primary) 100%);
      filter: opacity(0.15);
      z-index: 1;
    }
  }
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
  
    p {
      max-width: 60%;
      font-size: 1.1rem;
      align-self: center;
      background-color: var(--background-low-opacity);
      box-shadow: 0 3px 10px var(--background-low-opacity);
      border-radius: 10px;
    }
  
    &.text-start p {
      max-width: 60%;
      align-self: flex-start;
    }
  
    &.text-end p {
      max-width: 60%;
      align-self: flex-end;
    }
  }
  
  /* Additional Carousel Item Styles */
  .carousel-item {
    height: 32rem;
  }
  